#footer {
  color: var(--light-text-color);
  background-color: var(--novtn-dark-bg-color);
}

/* footer-info */
#footer .footer-info .row .col:first-child .card {
  background-color: unset;
  color: var(--light-text-color);
}

#footer .footer-info .row .col:not(:first-child) .card {
  background-color: var(--card-bg-color);
  color: var(--light-text-color);
}

#footer .card h6 {
  color: var(--novtn-primary-color);
}

#footer .card-body > ul > * {
  font-family: Inter, sans-serif;
  font-style: default;
  font-size: 0.75rem;
}

/* footer-copyright */
footer .footer-copyright-wrapper {
  background-color: var(--card-bg-color);
  /* color: magenta; */
}
