#footer {
  color: var(--color-text-light);
  background-color: var(--color-bg-dark);
}

/* footer-info */
#footer .footer-info .row .col:first-child .card {
  background-color: unset;
  color: var(--color-text-light);
}

#footer .footer-info .row .col:not(:first-child) .card {
  background-color: var(--color-bg-card);
  color: var(--color-text-light);
}

#footer .card .card-logo {
  color: var(--color-primary);
}

#footer .card h6 {
  color: var(--color-text-light);
  text-shadow: 0px 3px 5px var(--color-primary);
}

#footer .card-body > ul > * {
  font-family: var(--primary-font);
  font-style: default;
  font-size: 0.75rem;
  color: var(--light-text-color);
}

#footer .footer-info .row .col:not(:first-child) .card {
  background-color: var(--card-bg-color);
  color: var(--light-text-color);
}

#footer .card h6 {
  color: var(--novtn-primary-color);
}

#footer .card-body > ul > * {
  font-family: Inter, sans-serif;
  font-style: default;
  font-size: 0.75rem;
}

/* footer-copyright */
footer .footer-copyright-wrapper {
  background-color: var(--color-bg-card);
}
