/* Fonts */
.navbar .navbar-nav .nav-item a:not(.btn) {
  font-family: var(--primary-font);
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 1px;
}

/* HEADER STARTS */
header {
  background: transparent;
  color: var(--color-secondary);
}

/* #header-left {
  border-right: 0.625rem solid var(--novtn-secondary-color);
} */

/* .header-right-wrapper .header-right-top {
  color: var(--novtn-secondary-color);
} */

.header-right-wrapper .header-right-top {
  color: var(--color-text-light);
}

.header-right-wrapper .header-right-top a > i {
  color: var(--color-primary);
}

.header-right-top .telephone {
  border-right: 1px solid var(--color-text-light);
}
/* HEADER ENDS */

/* navbar */

/* .header-right-bottom .navbar .nav-link {
  padding: 0;
  width: 151px;
  display: flex;
  justify-content: center;
} */

.navbar a {
  color: var(--warning-color);
  /* padding: 0; */
}

/* .text-alta {
  display: inline-block; Metni blok gibi davranır
  width: 150px; Genişliği sınırla
  overflow-wrap: break-word; Kelimeyi bölerek taşır
  word-wrap: break-word; Tarayıcı uyumluluğu için ekle
  white-space: normal; Normal satır kayması sağlar
  text-align: center; Metni ortala
} */
